<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <script type="text/javascript" src="../js/comcode/com_head.js"></script>
    <title>LaPhilos__关于</title>
    <style rel="stylesheet">.lazy-image {background: url('../img/loading.gif') no-repeat center;background-size: 26% 35%;height: 100%;width: 100%;}</style>
    <style>
        @import url("../css/calendar.css");
    </style>
</head>
<body>
    <script>
            function getParams(key) {
                var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            };
            var mode = 1;
            if(localStorage.getItem("laphilos-mode") != null){mode = parseInt(localStorage.getItem("laphilos-mode"))};
    </script>
    <script type="text/javascript" src="../js/global_header.js"></script>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div id="headpic" class="headpic">
        <script>
            var pics = [
            "https://i.imgloc.com/2022/12/07/fVTsV.jpeg",
            "https://i.imgloc.com/2022/12/07/fV1fd.jpeg",
            "https://i.imgloc.com/2022/12/07/fVQ8b.jpeg",
            "https://i.imgloc.com/2022/12/07/fVYFq.jpeg",
            "https://i.imgloc.com/2022/12/07/fVqYz.jpeg",
            "https://i.imgloc.com/2022/12/07/ffZww.jpeg",
            "https://i.imgloc.com/2022/12/08/fpP1d.jpeg",
            "https://i.imgloc.com/2022/12/08/fpp03.jpeg",
            "https://i.imgloc.com/2022/12/08/fpXJ5.jpeg",
            "https://i.imgloc.com/2022/12/08/fp6OQ.jpeg",
            "https://i.imgloc.com/2022/12/08/fpFzE.jpeg",
            "https://i.imgloc.com/2022/12/08/fpG1C.jpeg"
            ]
            var intros = [
                "我们今天的家将是马德里",
                "国际主义",
                "阿芙乐尔的炮声终会再次响起",
                "雪原，冰河流淌其上",
                "国际妇女的解放必胜",
                "保卫和平和革命！",
                "两种宇宙观；矛盾的普遍性；矛盾的特殊性；主要的矛盾和主要的矛盾方面；矛盾诸方面的同一性和斗争性；对抗在矛盾中的地位。————毛泽东",
                "你是为了吃饭而生存，还是为了生存而吃饭呢? ————苏格拉底",
                "理性精神的王国永存",
                "当我们一提到本质时，我们便将本质与存在加以区别，而认存在为直接的东西，与本质比较看来，只是一种假象。但这种假象并非空无所有，完全无物，而是一种被扬弃的存在。本质的观点是反思的观点......哲学的任务或目的在于认识事物的本质，不应当让事物停留在它的直接性里，而须指出它是以别的事物为中介或根据的。————黑格尔",
                "帝国主义是资本主义的最高阶段————列宁",
                "砸碎铁链"
            ]
            xtype = Math.floor(Math.random()*(pics.length-1));
            document.write('<img style="width: 100%; height:auto" alt="" src="'+pics[xtype]+'">');
        </script>
    </div>
    <div class="headpic-cover">
        <div style="margin: 0 auto;top:210px;text-align: center;padding: 10px 10px 20px 20px;color: #ffffff;position: absolute;width: 100%;">
            <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
            <h1 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-size: 70px;font-weight: 100;"><div style="color:red;display: inline;">关</div>于LaPhilos</h1>
            <h4 style="font-family: 'Kanji-kai-2', 'Mulish', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;margin: 0 auto;text-align: center;font-weight: 100;"><div style="color:red;display: inline;">Ü</div>ber diese Website</h4>
        </div>
        <div style="text-align: center;padding: 10px 10px 20px 20px;color: #ffffffb6;width: 500px;height:auto;background-color: #0000006c;border-radius: 15px;position:relative;margin: 0 auto;top: 430px;">
            <i><script>
                document.write(intros[xtype]);
            </script></i>
        </div>
        <div style="text-align: left;padding: 10px 10px 20px 20px;color: #ffffffb6;height:auto;background-color: #0000006c;border-radius: 15px;position:absolute;left: 20px;top: 500px;">
            <div style="text-align: center;width: 100%;height:100%;border-radius: 10px;border-color: azure;">
                <a href="https://imgloc.com/" style="color:#ffffff">图床=></a>
            </div>
        </div>
    </div>
    <div class="big-container">
        <article class="article">
            <div style="width: 120px; height:auto;background-color: rgb(222, 0, 0);border-radius: 10px;">
                <h3 style="text-align: center;color: #ffffff;">关于LaPhilos</h3>
            </div>
            <div class="topsign-title">
                <h2 class="topsign-text">这里记录了我们的想法</h2>
                <br>
                <p><strong>欢迎所有有望对LaPhilos的内容建设做出贡献的人</strong></p>
                <br>
                <br>
            </div>
            <ul class="link-box about">
                <li>
                    <span class="about_title">LaPhilos<br></span>
                </li>
                <h3 class="about_line">  LaPhilos的名字来源于？</h3>
                <li>
                    <span class="description">
                        La Philosophique (哲思, [Fr.])
                    </span>
                </li>
                <h3 class="about_line">  为什么以LaPhilos作为名字？</h3>
                <li>
                    <span class="description">
                        曾经这个站有过很多很多名字，它曾叫做望关，曾经做过很多社团学会的官网，但一切都是过去式。
                        <br> 现在它就是 LaPhilos, 哲学的思考——哲思，它以脱离了网络嘈杂意识形态和现代政治的犬儒主义讽刺的姿态回归，只为了保留不为Official Ideology所裹挟的，学术的净土。
                    </span>
                </li>
                <h3 class="about_line">  LaPhilos为什么而建立？</h3>
                <li>
                    <span class="description">
                        LaPhilos以这样一个目标：推广哲学和社会科学的认识，保留学术的，不为他物所裹挟的哲思而存在。
                        
                    </span>
                </li>
                <h3 class="about_line">  LaPhilos的意义何在？</h3>
                <li>
                    <span class="description">
                        LaPhilos承担了学习共享和文章刊登的功能。
                        哲学、社会学的推广不能仅仅依靠于实体的书本和报纸或者口头的宣传，当然，“不能仅仅” 表达着二重性，非网络的生活性和网络的广泛性应当共存。
                        <br>
                    </span>
                </li>
                <h3 class="about_line">  LaPhilos对不同的哲学持怎么样的态度？</h3>
                <li>
                    <span class="description">
                        兼收并蓄。了解千百种哲学——无论西方的，东方的，古今中外，希腊罗马，德法英美，政治的，社会的，都应有之。
                        <br>
                    </span>
                </li>
            </ul>
            <ul class="link-box">
                <li>
                    <span style="text-align:center;display: block;font-size:x-large;color: #000000;font-family: 'Times New Roman', Times, serif;">Calendar<br></span>
                </li>
                <div id="calendar" style="height: auto;width: 100%;margin: 0 auto;background-color: rgb(255, 255, 255);">
                    <div id="left-holder" class="calendar-lh">
                        <div id="inner-holder" style="margin: 20px;">
                            <div id="calendar-title" style="width: 100%;height: 80px;text-align: center;vertical-align: middle;font-size: x-large;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                MONTH
                            </div>
                            <div id="calendar-weekdays" style="width: 100%;height:50px;background-color: white;">
                                <div id="w1" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;color: rgb(159, 15, 44);">S</div>
                                <div id="w2" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">M</div>
                                <div id="w3" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">T</div>
                                <div id="w4" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">W</div>
                                <div id="w5" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">T</div>
                                <div id="w6" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">F</div>
                                <div id="w7" style="font-family: 'Times New Roman', Times, serif;width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">S</div>
                            </div>
                            <div id="calendar-dates">
                            <div id="calendar-dates-container"></div>
                                <script>
                                    var monthlist = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                                    var myDate = new Date();
                                    var strDate = myDate.getFullYear()+'-'+myDate.getMonth()+1+'-1';
                                    var start = new Date(strDate).getDay();//0-6
                                    document.getElementById('calendar-title').innerHTML = monthlist[myDate.getMonth()];
                                    for(var i = 0;i<start;i++){
                                        document.getElementById('calendar-dates-container').innerHTML += '<div id="empty" style="width: 13%;height:50px;float: left;"></div>'
                                    }
                                    var datelist = [31,28,31,30,31,30,31,31,30,31,30,31];
                                    if(myDate.getFullYear()%4 == 0 && myDate.getFullYear()!=0){
                                        datelist[1] = 29;//处理闰年
                                    }
                                    for(var i = 0;i<datelist[myDate.getMonth()];i++){
                                        if((i+start)%7 != 0){
                                            document.getElementById('calendar-dates-container').innerHTML += '<div id=d"'+(i+1)+'"'+' style="font-family:'+"'Times New Roman'"+', Times, serif;'+'width: 14.2%;height:50px;float: left;text-align: center;font-size: large;">'+(i+1)+'</div>';
                                        }else{
                                            document.getElementById('calendar-dates-container').innerHTML += '<div id="d'+(i+1)+'"'+'  style="font-family:'+"'Times New Roman'"+', Times, serif;'+'width: 14.2%;height:50px;float: left;text-align: center;font-size: large;color: rgb(159, 15, 44);">'+(i+1)+'</div>';
                                        }
                                    }
                                    document.getElementById('d'+myDate.getDate()).innerHTML = '<strong>'+myDate.getDate()+'</strong>'
                                </script>
                            </div>
                            <div id="tip" style="width: 100%;float: right;line-height: 50px;">
                                <h6 style="text-align: left;display: block;color: #000000;font-family: 'Times New Roman', Times, serif;">Created By WangGun Sociology</h6>
                            </div>
                        </div>
                    </div>
                    <div id="right-holder" class="calendar-rh">
                        <div id="img-container" style="width: 100%;">
                            <img style="width: 80%;margin-bottom: 50px;border-radius: 5px;"src="../img/calendar.jpg" alt="">
                        </div>
                    </div>
                </div>
            </ul>
        </article>
    </div>
    <!--主题-->>
    <div>
        <script>
            if(mode==1)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#000000"><a href="./about.html?mode=2" style="font-size:28px">✨</a></div>')
            if(mode==2)document.write('<div style="padding-left: 10px;padding-right: 10px;color: rgb(0, 0, 0);z-index: 1000; width: auto; height: 40px; position: fixed; bottom: 40px; right: 17%; cursor: pointer; background-size: 100%; display: inline-block;border-radius: 20px;background-color:#ffffff"><a href="./about.html?mode=1" style="font-size:28px">🔆</a></div>')
        </script>
    </div>
    <!--尾部-->
    <script type="text/javascript" src="../js/comcode/footer.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>

</html>hhhhhhhhhh